.container-detail {
  margin: 70px 350px 70px 350px;
}
.container-movie-details {
  display: flex;
  background-color: #1e7b789e;
  color: #ffffff;
  flex-direction: row;
  height: 528px;
  width: 835px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.title-movie-details {
  text-transform: uppercase;
  font-size: xx-large;
  margin: 4px 6px px -2px;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
}

.text-movie-details {
  font-weight: lighter;
  color: rgb(149, 145, 145);
  opacity: 0.8;
  text-align: justify; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  hyphens: auto;
  font-family: 'Courier New', Courier, monospace;
}

.align-movie-details {
  line-height: 20px;
}
.align-title {
  line-height: 6px;
  padding: 0px 0px 10px auto;
}

.img-movie-details {
  height: 288px;
  width: 219px;
  margin: 35px 0px 35px 35px;
  border-radius: 10px;
  object-fit: cover;
}
.react-responsive-modal-modal {
  padding: 0px;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
}

.container-movie-text {
  margin: 30px 44px 38px 43px;
}

.container-details {
  margin: 41px 0px 0px 0px;
}
.react-responsive-modal-closeButton {
  fill: white;
}
.container-popularity{
  display: flex;
  align-items: center;       /* Centra verticalmente ícono y texto */
  gap: 0.5rem;               /* Espacio entre ícono y texto */
  color: #facc15;            /* Amarillo dorado (puedes ajustar) */
  font-size: 1rem;
}

.container-close-back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.icon-back,
.icon-close {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  transition: transform 0.2s ease, color 0.3s ease;
}

.icon-back:hover,
.icon-close:hover {
  color: #0fedd7; /* amarillo brillante */
  transform: scale(1.2);
}
